/tmp/
/node_modules
/myfile
/zextra
/public/hot
/public/storage
/storage/*.key
storage/framework/views
/storage/api-docs
/vendor
/vendor/*
/vendor/composer
.env
.commands.txt
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
/storage/framework/
/zextra/
/z_extra/

/media_files/

